<div class="wrapper clearfix">
  <div class="sidemenu">
    <section class="user-info">
      <%= image_tag('profile.jpg') %>
      <h2>Cat Taro</h2>
      <span><a href="#">View Profile</a></span>
    </section>
    <section>
      <div class="stat">
      <a href="#">Following</a>
      <a href="#">Followers</a>
      </div>
    </section>
    <section class="micro-post">
      <%= render 'form' %>
    </section>


    </div>

    <div class="main">
    <h2>つぶやき一覧</h2>
    <p><%= notice %></p>

    <!-- つぶやき一覧を表示する -->
    <table class = "tweet">
    <% @tsubuyakies.each {|tsubuyaki| %>
      <tr>
        <td class="main_row"><%= tsubuyaki.content %></td>
        <td class="link_row"><%= link_to '詳細', tsubuyaky_path(tsubuyaki.id) %></td>
        <td class="link_row"><%= link_to '編集', edit_tsubuyaky_path(tsubuyaki.id),data: { confirm: '本当に編集していいですか？' }  %></td>
        <td class="link_row"><%= link_to '削除', tsubuyaky_path(tsubuyaki.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
      </tr>
    <% } %>
    </table>

    <!-- 新規ツイート画面へのリンク -->
    <div class="new_link"><%= link_to '新規作成画面', new_tsubuyaky_path %></div>
    </div>
  </div>
