<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Tsubuyaki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class ="header clearfix">
      <div class="header-container">
      <a id="logo" href="/tsubuyakies">つぶやきアプリ</a>
      <nav class="global-nav">
        <ul>
          <li><a href="/tsubuyakies/profile">プロフィール</a></li>
        </ul>
      </nav>
      </div>
    </header>

    <%= yield %>


    <footer>
      <p>つぶやき株式会社</p>
      <p>©2019 Copyright Tsubuyaki Goro Corp.</p>
      <p><a href="https://pixabay.com/ja/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=48563">Clker-Free-Vector-Images</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=48563">Pixabay</a>からの画像</p>
    </footer>
  </body>
</html>
